<script setup>
import Card from './LandingCard.vue'
import Header from './LandingHeader.vue'

defineProps({
  msg: String,
})
</script>

<template>

  <h1 hidden >Valtech : Les occasions de travailler à l'étranger</h1>
  <div class="wrapper wrapper-header">
    <div class="card card-header"><Header/></div>
    <div class="card city-card city-card-one">
      <Card country="Italy" city="Venice" description="Lorem Ipsum" image="../src/assets/venice.jpg"/>
    </div>
    <div class="card city-card city-card-two">
      <Card country="Germany" city="Berlin" description="Lorem Ipsum" image="../src/assets/berlin.jpg"/>
    </div>
    <div class="card city-card city-card-three">
      <Card country="Spain" city="Barcelona" description="Lorem Ipsum" image="../src/assets/espagne.jpg"/>
    </div>
    <div class="card city-card city-card-four">
      <Card country="France" city="Paris" description="Lorem Ipsum" image="../src/assets/toureiffel.jpg"/>
    </div>
    <div class="card city-card city-card-five">
      <Card country="Netherlands" city="Amsterdam" description="Lorem Ipsum" image="../src/assets/amsterdam.jpg"/>
    </div>
    <div class="card city-card city-card-six">
      <Card country="United Kingdom" city="London" description="Lorem Ipsum" image="../src/assets/london.jpg"/>
    </div>
  </div>

</template>

<style scoped>
@import url("https://fonts.google.com/specimen/Roboto#standard-styles");

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Roboto', sans-serif;
  gap: 20px;
}

.card {
  height: 600px;
  display: flex;
  min-width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.card-header {
  grid-column: 1/5;
  grid-row: 1;
  width: 100%;
  height: 800px;
  border-radius: 20px;
  background-image: radial-gradient(circle at center, rgb(128, 128, 128, 0.4)	, rgba(0, 0, 0, 0.8)), url('../assets/sunset-valtech.jpg');
  background-size: cover;
}

.city-card-one {
  grid-column: 1/3;
 }

.city-card-two {
  grid-column: 3;
}

.city-card-three {
  grid-column: 4;
}

.city-card-four {
  grid-column: 1;
}

.city-card-five {
  grid-column: 2;
}

.city-card-six {
  grid-column: 3/5;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-column: 1/2;
  }
  .card-header{
    max-height: 300px;
    grid-column: 1;
  }
  .city-card{
    max-height: 150px;
    grid-column: 1;
  }
}

</style>
