<script setup>
import {computed} from 'vue'

const props = defineProps({
  country: String,
  city: String,
  description: String,
  image: String,
})

//To fetch from DB or anywhere else
const lorem = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rerum!";

const bg_img = computed({
  get() {
    return {
      "background-image": `radial-gradient(circle at center, rgb(128, 128, 128, 0.4)	, rgba(0, 0, 0, 0.8)), url(${props.image})`,
      "background-size": "cover"
    }
  },
  set() {
  }
})
</script>

<template>
  <div class="city-card-container" :style="bg_img">
    <div class="card-country">{{ country.toUpperCase() }}</div>
    <div class="card-city">{{ city.toUpperCase() }}</div>
    <div class="card-description">{{ lorem }}</div>
    <a href="">
      <button class="btn-explore">Explore more</button>
    </a>
  </div>
</template>

<style scoped>

.city-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.city-card-container:hover {
  transition-duration: 1s;
  filter: grayscale(90%);
}

.card-country {
  font-size: 20px;
}

.card-city {
  font-size: 35px;
  font-weight: bold;
}

.card-description {
  font-size: 15px;
  max-width: 70%;
  display: none;
  padding: 10px
}

.city-card-container:hover
.card-description {
  display: block;
}

.btn-explore {
  background-color: transparent;
  display: none;
  color: white;
  border: 2px solid white;
}

@keyframes Appear {
  0% {
    font-size: 0px
  }
  100% {
    font-size: 16px
  }
}

.city-card-container:hover
.btn-explore {
  display: block;
  position: relative;
  animation: Appear 0.8s;

}


@media (max-width: 768px) {

  .city-card-container {
    gap: 5px;
  }

  .btn-explore {
    display: none
  }

  /*
  start HOVER effects
   */
  .city-card-container:hover
  .card-country {
    display: none;
  }

  .city-card-container:hover
  .card-city {
    display: none;
  }

  .city-card-container:hover
  .card-description {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .city-card-container:hover
  .btn-explore {
    display: block;
  }

}

</style>
