<script setup>

defineProps({
  sur_title: String,
  title: String,
  description: String,
  img: String
})
</script>

<template>
  <div class="header-container">
      <div class="sur_title">FRONT-END</div>
      <div class="title">valtech_</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi.!</div>
  </div>
</template>

<style scoped>

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  color : white;
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

.sur_title{
  font-size: 20px;
  font-weight: 200;
}

.title{
  font-size: 60px;
  font-weight: bold;
}

.description{
  font-size: 20px;
  font-weight: 200;
  max-width: 70%;
}

@media (max-width: 375px) {
  .title {
    font-size: 40px;
  }
  .description{ display: none }
}

</style>
